a{
	color: #fff;
}

a:hover{
	color: #fff;
	text-decoration: none;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

button, input{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

body{
	font-family: 'Libre Franklin', sans-serif;
}

header{
	z-index: 9999;
	width: 100%;
	background: #0A0926;
	position: fixed;
	top: 0;
	-webkit-box-shadow: 0px 6px 8px -2px rgba(0,0,0,0.43);
	-moz-box-shadow: 0px 6px 8px -2px rgba(0,0,0,0.43);
	box-shadow: 0px 6px 8px -2px rgba(0,0,0,0.43);
	}
		header .larguraCabecalho{
			position: relative;
			width: 88%;
			margin: 0 auto;
			height: 65px;
		}
			header .larguraCabecalho .paiTitulo{
				width: 22%;
				margin: 0;
				padding: 0;
				height: 100%;
				display: inline-block;
			}
				header .larguraCabecalho .paiTitulo h1{
					font-family: 'Libre Franklin', sans-serif;
					color: #fff;
					font-weight: 900;
					text-transform: uppercase;
					margin: 9px 0 0 0;
				}
				header .larguraCabecalho .paiMenu{
					display: inline-block;
					width: 77%;
					text-align: right;
					height: 100%;
				}
					header .larguraCabecalho .paiMenu a{
						color: #fff;
						text-decoration: none;
						padding-bottom: 2px;
						-webkit-transition: ease-in-out .2s;
						-o-transition: ease-in-out .2s;
						transition: ease-in-out .2s;
					}
					header .larguraCabecalho .paiMenu a:hover{
						color: #ccc;
						-webkit-transform: translateY(-5px);
						-ms-transform: translateY(-5px);
						-o-transform: translateY(-5px);
						transform: translateY(-5px);
					}

.alturaNoticiasDestacadas{
		display: block;
		height: 84vh;
		width: 100%;
		padding-top: 105px;
	}
		.alturaNoticiasDestacadas .destaque{
			height: 100%;
		}
			.alturaNoticiasDestacadas .destaque .alturaNoticiaMaior{
				position: relative;
				height: 100%;
				background: url('../img/imagem.jpg');
				background-size: cover;
				border-radius: 10px;
			}
				.alturaNoticiasDestacadas .destaque .alturaNoticiaMaior a{

				}
					.alturaNoticiasDestacadas .destaque .alturaNoticiaMaior a .noticiaMaior{
						position: absolute;
						bottom: 0;
						background: #1b57a6d1;
						height: 37%;
						border-radius: 10px;
					}
						.alturaNoticiasDestacadas .destaque .alturaNoticiaMaior a .noticiaMaior .informacoes{

						}
							.alturaNoticiasDestacadas .destaque .alturaNoticiaMaior a .noticiaMaior .informacoes h2{
								font-size: 26px;
								padding: 15px 0 0 20px;
								font-weight: 700;
							}
								.alturaNoticiasDestacadas .destaque .alturaNoticiaMaior a .noticiaMaior .informacoes h2 img{
									display: inline;
									width: 17px;
								}
							.alturaNoticiasDestacadas .destaque .alturaNoticiaMaior a .noticiaMaior .informacoes p{
								padding: 0 25px 0 20px;
							}
			.alturaNoticiasDestacadas .destaque .primeiraLinha{
				padding: 0 0 15px 0;
				height: 50%;
			}
			.alturaNoticiasDestacadas .destaque .alturaLinhas{
				height: 50%;
			}
				.alturaNoticiasDestacadas .destaque .alturaLinhas a, .alturaNoticiasDestacadas .destaque .primeiraLinha a{

				}
					.alturaNoticiasDestacadas .destaque .alturaLinhas a .noticiaMaior, .alturaNoticiasDestacadas .destaque .primeiraLinha a .noticiaMaior{
						border-radius: 10px;
						position: relative;
						height: 100%;
						background: url('../img/imagem.jpg');
						background-size: cover;
						width: 100%;
					}
						.alturaNoticiasDestacadas .destaque .alturaLinhas a .noticiaMaior .informacoes, .alturaNoticiasDestacadas .destaque .primeiraLinha a .noticiaMaior .informacoes{
							position: absolute;
							background: #1b57a6d1;
							height: 44%;
							border-radius: 10px;
							bottom: 0;
						}
							.alturaNoticiasDestacadas .destaque .alturaLinhas a .noticiaMaior .informacoes h2, .alturaNoticiasDestacadas .destaque .primeiraLinha a .noticiaMaior .informacoes h2{
								font-size: 19px;
								padding: 6px 0 0 20px;
								font-weight: 700;
								margin: 0 0 2px 0;
							}
								.alturaNoticiasDestacadas .destaque .alturaLinhas a .noticiaMaior .informacoes h2 img,.alturaNoticiasDestacadas .destaque .primeiraLinha a .noticiaMaior .informacoes h2 img{
									display: inline;
									width: 17px;
								}
							.alturaNoticiasDestacadas .destaque .alturaLinhas a .noticiaMaior .informacoes p,.alturaNoticiasDestacadas .destaque .primeiraLinha a .noticiaMaior .informacoes p{
								font-size: 10px;
								padding: 0 13px 0 20px;
							}
.noticiasVariadas{
	margin-top: 30px;
	width: 100%;
}
	.noticiasVariadas .larguraListaNoticias{
		width: 100%;
		color: #fff;
	}
		.noticiasVariadas .larguraListaNoticias .itemLista{
			width: 100%;
			height: 210px;
			background: #1b4c8e;
			border-radius: 10px;
			margin: 10px 0 10px 0;
			-webkit-transition: ease-in-out .2s;
			-o-transition: ease-in-out .2s;
			transition: ease-in-out .2s;
		}
		.noticiasVariadas .larguraListaNoticias .itemLista:hover{
			color: #1b4c8e;
			background: #fff;
			-webkit-box-shadow: 0px 6px 8px -2px rgba(0,0,0,0.43);
			-moz-box-shadow: 0px 6px 8px -2px rgba(0,0,0,0.43);
			box-shadow: 0px 6px 8px -2px rgba(0,0,0,0.43);
		}
			.noticiasVariadas .larguraListaNoticias h2{
				font-weight: 700;
				padding: 10px 0 0 36px;
			}
			.noticiasVariadas .larguraListaNoticias h3{
				padding: 0 0 0 36px;
			}
				.noticiasVariadas .larguraListaNoticias h3 img{
					width: 23px;
				}
			.noticiasVariadas .larguraListaNoticias p{
				padding: 0 0 0 36px;
				font-size: 13px;
			}
			.noticiasVariadas .larguraListaNoticias .larguraImagem{
				position: absolute;
				right: 50%;
				top: 50%;
				transform: translate(50%,-50%);
				background: url('../img/imagem.jpg');
				background-size: cover;
				width: 150px;
				height: 150px;
				border-radius: 9px;
			}
.login{
	width: 100%;
	height: 100vh;
}
.login .row .col-md-8{
	background: url('../img/imagem.jpg');
	background-size: cover;
}
	.login .textosBoasVindas{
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%,-50%);
		color: #fff;
		text-align: center;
	}
		.login .textosBoasVindas h3{
			font-size: 92px;
			text-transform: uppercase;
			font-weight: 900;
		}
		.login .textosBoasVindas h4{
			font-style: italic;
		}
	.login .formulario{
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%,-50%);
	}
		.login .formulario form{

		}
			.login .formulario form input{
				background: #1b57a6;
				border: solid 1px #d4d4d4;
				border-radius: 6px;
				width: 100%;
				margin: 30px 0 0 0;
				height: 38px;
				color: #fff!important;
				padding: 0 0 0 14px;
			}
			.login .formulario form input::placeholder{
				color: #fff!important;
			}
			.login .formulario form button{
				background: #1b57a6;
				border: solid 1px #d4d4d4;
				border-radius: 6px;
				color: #fff!important;
				text-transform: uppercase;
				padding: 7px;
				display: block;
				margin: 0 auto;
				margin-top: 22px;
				font-weight: 900;
				-webkit-transition: ease-in-out .2s;
				-o-transition: ease-in-out .2s;
				transition: ease-in-out .2s;
			}
			.login .formulario form button:hover{
				background: #fff;
				border: solid 1px #1b57a6;
				color: #1b57a6!important;
			}

.tamanhoTotal{
	position: relative;
	height: 100%;
	width: 100%;
}
footer{
    width: 100%;
    background: #0A0926;
    color: #fff;
    text-align: center;
    height: 41px;
}
	footer h3{
		padding: 6px 0 0 0;
		margin: 0;
		font-size: 23px;
	}

.noticia{

}
	.noticia .titulo{
		text-align: center;
	}
		.noticia .titulo h2{
			font-size: 55px;
			font-weight: 900;
			margin: 0;
		}
		.noticia .titulo h3{

		}
	.noticia .imagemDestaque{

	}
		.noticia .imagemDestaque figure{

		}
			.noticia .imagemDestaque figure img{
				display: block;
				margin: 0 auto;
				margin-top: 25px;
			}
	.noticia .informacoesProjeto{
		margin-top: 10px;
	}
		.noticia .informacoesProjeto figure{
			display: inline-block;
		}
			.noticia .informacoesProjeto figure img{
				width: 85px;
			}
		.noticia .informacoesProjeto ul{
			display: inline-block;
			margin-left: 20px;
    		border-left: solid 1px #000000;
    		padding-left: 13px;
		}
			.noticia .informacoesProjeto ul li{

			}
	.noticia .descricaoProjeto{

	}
		.noticia .descricaoProjeto p{

		}
	.noticia .votos{

	}
		.noticia .votos .larguraVotos{

		}
			.noticia .votos .larguraVotos h3{

			}
			.noticia .votos .larguraVotos button{

			}
				.noticia .votos .larguraVotos button i{

				}
				.noticia .votos .larguraVotos button h2{

				}
			.noticia .votos .larguraVotos i{

			}
	.noticia .comentarios{

	}
		.noticia .comentarios .comentar{

		}
			.noticia .comentarios .comentar .topoComentarios{

			}
				.noticia .comentarios .comentar .topoComentarios .quantidadeComentarios{

				}
				.noticia .comentarios .comentar .topoComentarios a{

				}
				.noticia .comentarios .comentar .topoComentarios .nomeUsuarioLogado{

				}
			.noticia .comentarios .comentar .formularioComentario{

			}
				.noticia .comentarios .comentar .formularioComentario form{

				}
					.noticia .comentarios .comentar .formularioComentario form textarea{

					}
					.noticia .comentarios .comentar .formularioComentario form button{

					}
		.noticia .comentarios .comentariosLista{

		}
			.noticia .comentarios .comentariosLista ul{

			}
				.noticia .comentarios .comentariosLista ul li{

				}
					.noticia .comentarios .comentariosLista ul li .topoComentariolista{

					}
						.noticia .comentarios .comentariosLista ul li .topoComentariolista h2{

						}
						.noticia .comentarios .comentariosLista ul li .topoComentariolista p{

						}
